---
import Binoculars from "~/components/icons/Binoculars.astro";
import Layout from "../layouts/Layout.astro";
import ButtonLink from "~/components/partials/ButtonLink.astro";

---
<Layout title="Not Found | APBN">
  <section aria-label="page not found" class="flex flex-col justify-center items-center gap-4 center">
    <Binoculars />
    <h1>🥹 Sorry!!! The page could not found</h1>
    <ButtonLink title="go to homepage" type="link" href="/" className="bt bt-orange dark:bt-white" />
  </section>
</Layout> 