---
import Layout from '../layouts/Layout.astro';
import { Constants } from '~/types'

const keywords = [
	"homepage",
	"apbn",
	"association"
]

const title = `Home | ${Constants.SITENAME}`
---

<Layout title={title} keywords={keywords}>
	<h1>APBN Homepage</h1>
</Layout>