---
import { getCollection, type CollectionEntry } from "astro:content";
import { Constants } from "~/types";
import { Image } from "astro:assets"
import ButtonLink from "./ButtonLink.astro";

const allSliders: CollectionEntry<"sliders">[] = await getCollection("sliders");
const sliders = allSliders
  .filter((slider) => slider.data.active)
  .filter((slider) => slider.data.type === Constants.ADVERTISING);
---

<section aria-label="advertising" class="flex flex-col gap-2">
  {
    sliders.map((slider) => (
      <a href={slider.data.website as string} class="md:center aspect-[1326/602] md:aspect-[1920/400] md:min-h-[268px] flex flex-col gap-2 relative">
        <Image
          width={1920}
          height={400}
          class="w-full hidden md:block"
          src={slider.data.dkimage as string}
          alt={slider.data.name}
          format="webp"
        />
        <Image
          width={1326}
          height={602}
          class="w-full block md:hidden"
          src={slider.data.mbimage as string}
          alt={slider.data.name}
          format="webp"
        />

        <ButtonLink className="hidden md:block bt bt-orange absolute bottom-[8px] right-[32px] w-fit" type="button" title="Discover" />
      </a>
      <ButtonLink className="block md:hidden bt bt-orange w-[calc(100%-32px)] mx-auto" href={slider.data.website as string} type="link" title="Discover" />
    ))
  }
  <div class="flex flex-col items-center gap-2 center">
    <h2>Want to advertise here?</h2>
    <ButtonLink className="bt bt-orange dark:bt-white w-full md:w-fit" href="tel:+2348129962551" type="link" title="Let's talk" />
  </div>
</section>
