---
import Category from "../icons/Category.astro";

interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<div class="flex items-center justify-start gap-1 dark:opacity-40" aria-label="time">
  <Category />
  <span aria-label="blog card date" class="text-[10px] rounded-md leading-[1] w-fit">
    {title}
  </span>
</div>
