---
import { btClasses } from '~/lib';

interface Props {
  className?: string;
}

const { className } = Astro.props as Props

const customizedClass = className ? className : "bt-orange"

const classes = btClasses
.filter(className => className !== "bg-white")
.filter(className => className !== "dark:bg-gray-700")
.filter(className => className !== "shadow-rcn")
classes.push(customizedClass)

---

<button aria-label="copy button" class:list={classes}>
  <span id="tooltip" class="absolute top-0 left-1/2 -translate-x-1/2 -translate-y-5 md:top-1/2 md:left-0 md:-translate-y-1/2 md:-translate-x-12 text-mid-blue dark:text-white"></span>
  <span class="-clickable" data-name="copy"></span>
  <svg  viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 sm:w-4 sm:h-4 copy-icon">
    <path fill-rule="evenodd" d="M17.663 3.118c.225.015.45.032.673.05C19.876 3.298 21 4.604 21 6.109v9.642a3 3 0 01-3 3V16.5c0-5.922-4.576-10.775-10.384-11.217.324-1.132 1.3-2.01 2.548-2.114.224-.019.448-.036.673-.051A3 3 0 0113.5 1.5H15a3 3 0 012.663 1.618zM12 4.5A1.5 1.5 0 0113.5 3H15a1.5 1.5 0 011.5 1.5H12z" clip-rule="evenodd" />
    <path d="M3 8.625c0-1.036.84-1.875 1.875-1.875h.375A3.75 3.75 0 019 10.5v1.875c0 1.036.84 1.875 1.875 1.875h1.875A3.75 3.75 0 0116.5 18v2.625c0 1.035-.84 1.875-1.875 1.875h-9.75A1.875 1.875 0 013 20.625v-12z" />
    <path d="M10.5 10.5a5.23 5.23 0 00-1.279-3.434 9.768 9.768 0 016.963 6.963 5.23 5.23 0 00-3.434-1.279h-1.875a.375.375 0 01-.375-.375V10.5z" />
  </svg>
  <svg viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" class="w-6 h-6 sm:w-4 sm:h-4 stroke-1 check">
    <path fill-rule="evenodd" d="M19.916 4.626a.75.75 0 01.208 1.04l-9 13.5a.75.75 0 01-1.154.114l-6-6a.75.75 0 011.06-1.06l5.353 5.353 8.493-12.739a.75.75 0 011.04-.208z" clip-rule="evenodd" />
  </svg>
  
</button> 