---

export interface Props {
  classes?: string;
  date: Date;
}

const { classes, date } = Astro.props
const defaultClasses = "grid grid-flow-col gap-2 text-center auto-cols-max"
const className = defaultClasses + " " + classes
---

<div class={className}> 
  <div class="flex flex-col w-[52px] p-2 rounded-lg bg-white dark:bg-darker shadow-custom">
    <span class="countdown flex justify-center text-xl font-semibold">
      <span style="--value:15;" data-digit="days" class="relative"></span>
    </span>
    <small class="text-2xs uppercase font-semibold">Days</small>
  </div> 
  <div class="flex flex-col w-[52px] p-2 rounded-lg bg-white dark:bg-darker shadow-custom">
    <span class="countdown flex justify-center text-xl font-semibold">
      <span style="--value:10;" data-digit="hours" class="relative"></span>
    </span>
    <small class="text-2xs uppercase font-semibold">Hours</small>
  </div> 
  <div class="flex flex-col w-[52px] p-2 rounded-lg bg-white dark:bg-darker shadow-custom">
    <span class="countdown flex justify-center text-xl font-semibold">
      <span style="--value:24;" data-digit="minutes" class="relative"></span>
    </span>
    <small class="text-2xs uppercase font-semibold">Mins</small>
  </div> 
  <div class="flex flex-col w-[52px] p-2 rounded-lg bg-white dark:bg-darker shadow-custom">
    <span class="countdown flex justify-center text-xl font-semibold">
      <span style="--value:49;" data-digit="seconds"  data-date={date} class="relative"></span> 
    </span>
    <small class="text-2xs uppercase font-semibold">Secs</small>
  </div>
</div>

