---
import type { CollectionEntry } from 'astro:content';
import { btClasses } from '~/lib';

export interface Props {
  id: string;
  sermon: CollectionEntry<"sermons">;
}

const { sermon } = Astro.props
const label = sermon.data.title + " play button"
const classes = btClasses
.filter(className => className !== "bg-white")
.filter(className => className !== "dark:bg-gray-700")
.filter(className => className !== "shadow-rcn")
classes.push("bt-orange")
---

<button aria-label={label} class:list={classes}>
  <span class="-clickable" data-name="play video" data-sermon={JSON.stringify(sermon.data)}></span>
  <svg viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 sm:w-4 sm:h-4">
    <path fill-rule="evenodd"
      d="M4.5 5.653c0-1.426 1.529-2.33 2.779-1.643l11.54 6.348c1.295.712 1.295 2.573 0 3.285L7.28 19.991c-1.25.687-2.779-.217-2.779-1.643V5.653z"
      clip-rule="evenodd" />
  </svg>
</button> 