---
import type { CollectionEntry } from "astro:content";
import SermonCard from "./SermonCard.astro";

interface Props {
  sermons: CollectionEntry<"sermons">[]
}

const { sermons } = Astro.props as Props;
---

<div class="card-grid w-full">
  {
    sermons.map((sermon, idx) => <SermonCard sermon={sermon} key={idx} />)
  }
</div>
